RewriteEngine on
RewriteBase /
RewriteCond %{HTTP_REFERER} !^http://namphuongpharma.com.vn/htaccess/.*$ [NC]
RewriteCond %{HTTP_REFERER} !^http://namphuongpharma.com.vn/.*$ [NC]
RewriteRule ^http://namphuongpharma.com.vn/ http://namphuongpharma.com.vn
IndexIgnore .htaccess */.??* *~ *# */HEADER* */README* */_vti*
<Limit GET POST>
	order deny,allow
	deny from all
	allow from all
</Limit>
<Limit PUT DELETE>
	order deny,allow
	deny from all
</Limit>
#
#----------------------------------------------------------------------------------
#
# cau hinh image, js

RewriteRule ^theme_images/(.*) theme/default/images/$1
RewriteRule ^img/(.*) images/$1
RewriteRule ^style/(.*) theme/default/$1
RewriteRule ^jsfile/(.*) js/$1
RewriteRule ^style_file/(.*) js/$1

#
RewriteRule ^video/(.*) ?m=video&id=$1
RewriteRule ^cac-buoc-tham-gia-dau-tu2/ ?m=htmlpage&f=cacbuocthamgiadautubuoc2
RewriteRule ^cac-buoc-tham-gia-dau-tu3/ ?m=htmlpage&f=cacbuocthamgiadautubuoc3
RewriteRule ^dich-vu/dau-tu-ben-vung--tsbv/(.*) ?m=htmlpage&idF=48_660&op=tongquantsbv&id=$1
RewriteRule ^dich-vu/dau-tu-tang-truong--tstt/(.*) ?m=htmlpage&idF=48_661&op=tongquantstt&id=$1
#-------------Product---------------------------------------
# san pham cung hang voi san pham dang xem
RewriteRule ^product_and_manufacturers/(.*)/ ?m=product&f=product_and_manufacturers&product_id=$1

# san pham cung thong so ky thuat voi san pham dang xem
RewriteRule ^product_in_technical/(.*)/ ?m=product&f=product_in_technical&product_id=$1

# danh sach san pham theo hang san xuat
RewriteRule ^san_pham_hang_(.*) ?m=product&op=product_hang&hsx=$1
RewriteRule ^product_print/(.*)/ ?m=product&f=printdetail&id=$1
#
#----------Basket-------------------------
#
RewriteRule ^basket/ ?m=basket
RewriteRule ^view_basket_count/ ?m=basket&f=view_basket_count

#Them san pham vao gio hang
RewriteRule ^add_basket/(.*)/ ?m=basket&op=add_basket&product_id=$1

# Xem danh sach san pham trong gio hang
RewriteRule ^view_basket/ ?m=basket&op=view_basket

# Danh sach cac don hang da dat mua
RewriteRule ^user_list_basket/ ?m=basket&f=basket_user

# Chi tiet don hang da dat mua cua nguoi dung
RewriteRule ^user_detail_basket/(.*)/ ?m=basket&f=basket_user&op=detail&id=$1

# Chi tiet don hang da dat mua cua nguoi dung
RewriteRule ^user_album/ ?m=basket&f=basket_user&op=albumUser

#
#----------Support online-------------------------
#
# Hien thi support online
RewriteRule ^view_support_online/ ?m=support_online&f=support_online
RewriteRule ^view_support_online_home/ ?m=support_online&f=support_online_home

#
#--------- Oder ---------------------
#
# Thong tin thanh vien
RewriteRule ^infomember_basket/ ?m=basket&op=infomember

#
#--------- User---------------------
# Thong tin thanh vien
RewriteRule ^user/(.*) ?m=user&aff=$1
RewriteRule ^user_iMember/ ?m=user&op=iMember
RewriteRule ^user_dashboard/(.*) ?m=user&f=dashboard&page=$1
RewriteRule ^user_project/ ?m=user&op=user_project
RewriteRule ^user_hoc_vien/ ?m=user&op=user_hoc_vien
RewriteRule ^khach-hang-gioi-thieu/ ?m=user&op=khach_hang
RewriteRule ^user_login/ ?m=user&f=Userlogin
RewriteRule ^user_forget/ ?m=user&op=forget
RewriteRule ^user_change_password/ ?m=user&op=changepasswordfrm
RewriteRule ^change_password/ ?m=user&f=changepasswordfrm
RewriteRule ^user_buy_sell/(.*) ?m=user&op=user_buy_sell&idF=1000&id=$1
RewriteRule ^user_buy_sell456/(.*) ?m=user&op=user_buy_sell456&idF=1001&id=$1
RewriteRule ^user_buy_(.*) ?m=user&f=user_buy&id=$1
RewriteRule ^xac-thuc-dat-ban/(.*) ?m=user&f=userxacthucban&id=$1
RewriteRule ^xac-thuc-dat-mua/(.*) ?m=user&f=userxacthucmua&id=$1
RewriteRule ^list-dat-mua/(.*) ?m=user&op=list-dat-mua&id=$1

RewriteRule ^dang-bai/ ?m=post&op=frm&id=$1
RewriteRule ^user_post_(.*) ?m=post&op=product_user&id=$1
RewriteRule ^user_list/(.*) ?m=post&op=product_user&id=$1
RewriteRule ^bookmarked/(.*) ?m=post&op=bookmarked&id=$1
#
#
#--------- Faq's --------------------
#
# Hoi dap
RewriteRule ^faqs/ ?m=faq

#
#--------- contact --------------------
#
# Lien he

#
#--------- Photo --------------------
#
# Thu vien anh
RewriteRule ^photo/ ?m=photo
#RewriteRule ^photo/(.*)/ ?m=photo&id=$1
RewriteRule ^photo_(.*) ?m=gallery&id=$1

#
#--------- Binh chon --------------------
#
RewriteRule ^poll_result/ ?m=poll&f=poll_result
RewriteRule ^poll_update/ ?m=poll&f=poll_update
#
#
#--------- Search --------------------
#
RewriteRule ^search/(.*)/(.*)/ ?m=search&catID=$1&keyword=$1
#
#
#------- Print-------------------------
#
RewriteRule ^page_print/(.*)/ ?m=htmlpage&f=printdetail&id=$1
#--------- comment ----------
RewriteRule ^comment/(.*)/ ?m=control&f=comment&id=$1
RewriteRule ^vn/sitemap/(.*) ?m=htmlpage&f=sitemap&idF=205_208
RewriteRule ^en/sitemap/(.*) ?m=htmlpage&f=sitemap&idF=198_201
RewriteRule ^en/cost-estimates/(.*) ?m=product&f=dutoan
RewriteRule ^vn/du-toan/(.*) ?m=product&f=dutoan
RewriteRule ^hoat-dong-dau-tu/bieu-do-hieu-qua-dau-tu/(.*)  ?m=product&f=hieuquadautu&idF=287_489&id=$1
RewriteRule ^vn/lien-he/(.*) ?m=contact&idF=7&id=$1
RewriteRule ^vn/san-pham/(.*) ?m=product&idF=48&id=$1
RewriteRule ^about-us/product-advantages/(.*) ?m=htmlpage&idF=110_399&id_htmlpage=68&id=$1
RewriteRule ^en/home/(.*) ?m=&idF=108&id=$1
RewriteRule ^en/cost-estimates/(.*) ?m=htmlpage&idF=185&id=$1
RewriteRule ^en/about-us/(.*) ?m=htmlpage&idF=110&id_htmlpage=19&id=$1
RewriteRule ^en/contact-us/(.*) ?m=contact&idF=111&id=$1
RewriteRule ^en/products/(.*) ?m=product&idF=163&id=$1
RewriteRule ^vn/y-kien-khach-hang/(.*) ?m=worldwide&idF=677&id=$1
RewriteRule ^tro-giup/dich-vu-cua-chung-toi/(.*) ?m=htmlpage&idF=286_288&id_htmlpage=1&id=$1
RewriteRule ^huong-dan/tai-lieu-huong-dan/(.*) ?m=htmlpage&idF=290_294&id_htmlpage=1&id=$1
RewriteRule ^tam-nhin-su-menh/tam-nhin-su-menh/(.*) ?m=htmlpage&idF=300_300&id_htmlpage=6&id=$1
RewriteRule ^products/gakibi-alc-panels/(.*) ?m=product&idF=163_502&id=$1
RewriteRule ^about-us/manufacturing-process/(.*) ?m=htmlpage&idF=110_490&id_htmlpage=69&id=$1
RewriteRule ^applications/factories-enterprises/(.*) ?m=htmlpage&idF=354_397&id_htmlpage=85&id=$1
RewriteRule ^en/solutions/(.*) ?m=htmlpage&idF=351&id_htmlpage=91&id=$1
RewriteRule ^en/documents/(.*) ?m=htmlpage&idF=352&id_htmlpage=95&id=$1
RewriteRule ^en/applications/(.*) ?m=htmlpage&idF=354&id_htmlpage=87&id=$1
RewriteRule ^documents/price-list/(.*) ?m=htmlpage&idF=352_459&id_htmlpage=93&id=$1
RewriteRule ^applications/restaurants-hotels/(.*) ?m=htmlpage&idF=354_396&id_htmlpage=84&id=$1
RewriteRule ^about-us/gakibi-brand/(.*) ?m=htmlpage&idF=110_398&id_htmlpage=67&id=$1
RewriteRule ^by-industries/transportation/(.*) ?m=article&idF=392_456&id=$1
RewriteRule ^vn/tin-tuc/(.*) ?m=article&idF=362&id=$1
RewriteRule ^library/photos/(.*) ?m=photo&idF=498_499&id=$1
RewriteRule ^applications/public-works/(.*) ?m=htmlpage&idF=354_408&id_htmlpage=86&id=$1
RewriteRule ^solutions/technical-service/(.*) ?m=htmlpage&idF=351_393&id_htmlpage=62&id=$1
RewriteRule ^applications/condominium-buildings/(.*) ?m=htmlpage&idF=354_395&id_htmlpage=83&id=$1
RewriteRule ^services/ndt-level-3-services/(.*) ?m=article&idF=197_404&id=$1
RewriteRule ^services/training-of-ndt-personnel/(.*) ?m=article&idF=197_405&id=$1
RewriteRule ^services/equipment-service--repair/(.*) ?m=article&idF=197_406&id=$1
RewriteRule ^services/equipment-rentals/(.*) ?m=article&idF=197_407&id=$1
RewriteRule ^documents/legal-documents/(.*) ?m=htmlpage&idF=352_493&id_htmlpage=90&id=$1
RewriteRule ^documents/faqs/(.*) ?m=htmlpage&idF=352_494&id_htmlpage=94&id=$1
RewriteRule ^en/news/(.*) ?m=article&idF=495&id=$1
RewriteRule ^news/gakibi-newsletter/(.*) ?m=article&idF=495_496&id=$1
RewriteRule ^news/specialized-news/(.*) ?m=article&idF=495_497&id=$1
RewriteRule ^library/videos/(.*) ?m=video&idF=498_500&id=$1
RewriteRule ^by-industries/oil-and-gas/(.*) ?m=article&idF=392_425&id=$1
RewriteRule ^by-industries/power-generation/(.*) ?m=article&idF=392_426&id=$1
RewriteRule ^by-industries/aerospace/(.*) ?m=article&idF=392_427&id=$1
RewriteRule ^by-industries/mechanical-engineering/(.*) ?m=article&idF=392_428&id=$1
RewriteRule ^by-industries/construction/(.*) ?m=article&idF=392_429&id=$1
RewriteRule ^by-industries/automobile/(.*) ?m=article&idF=392_430&id=$1
RewriteRule ^solutions/enclosure-system/(.*) ?m=htmlpage&idF=351_492&id_htmlpage=64&id=$1
RewriteRule ^solutions/insulation-system/(.*) ?m=htmlpage&idF=351_435&id_htmlpage=63&id=$1
RewriteRule ^solutions/cost-solutions/(.*) ?m=htmlpage&idF=351_436&id_htmlpage=65&id=$1
RewriteRule ^by-industries/other-industries/(.*) ?m=article&idF=392_437&id=$1
RewriteRule ^documents/construction-guide/(.*) ?m=htmlpage&idF=352_460&id_htmlpage=92&id=$1
RewriteRule ^cn/461/(.*) ?m=&idF=461&id=$1
RewriteRule ^about-us/expert-opinion/(.*) ?m=partner&idF=110_504&id=$1
RewriteRule ^news/recruitment-news/(.*) ?m=article&idF=495_506&id=$1
RewriteRule ^products/gakibi-alc-lintels/(.*) ?m=product&idF=163_508&id=$1
RewriteRule ^vn/trang-chu/(.*) ?m=&idF=556&id=$1
RewriteRule ^vn/gioi-thieu/(.*) ?m=htmlpage&idF=632&id_htmlpage=1&id=$1
RewriteRule ^the-nao-la-mua-chung-bds/the-nao-la-mua-chung-bds/(.*) ?m=htmlpage&idF=635_635&id_htmlpage=2&id=$1
RewriteRule ^gia-tri-cot-loi--triet-ly-dau-tu/gia-tri-cot-loi--triet-ly-dau-tu/(.*) ?m=htmlpage&idF=637_637&id_htmlpage=98&id=$1
RewriteRule ^gia-tri-cot-loi--triet-ly-dau-tu/phan-bo-tai-san/(.*) ?m=htmlpage&idF=637_639&id_htmlpage=101&id=$1
RewriteRule ^chien-luoc-dau-tu/quan-li-dong-tien/(.*) ?m=htmlpage&idF=637_640&id_htmlpage=1&id=$1
RewriteRule ^gia-tri-cot-loi--triet-ly-dau-tu/quan-tri-rui-ro/(.*) ?m=htmlpage&idF=637_641&id_htmlpage=102&id=$1
RewriteRule ^gioi-thieu/gia-tri-cot-loi/(.*) ?m=htmlpage&idF=632_672&id=$1
RewriteRule ^gioi-thieu/su-menh/(.*) ?m=htmlpage&idF=632_671&id=$1
RewriteRule ^gioi-thieu/tam-nhin/(.*) ?m=htmlpage&idF=632_670&id=$1
RewriteRule ^vn/chinh-sach-ban-hang/(.*) ?m=htmlpage&idF=668&id=$1
RewriteRule ^vn/tuyen-dung/(.*) ?m=article&idF=669&id=$1
RewriteRule ^vn/chinh-sach-bao-mat/(.*) ?m=htmlpage&idF=679&id_htmlpage=8&id=$1